<!DOCTYPE html>
<html ng-app="martialManager">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- Firebase and Angularfir -->
    <script src="js/firebase-web.js"></script>
    <script src="js/angularfire.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controller.js"></script>
    
    
  </head>
  <body>

  <ion-nav-bar class="bar-dark" align-title="center">
    <ion-nav-back-button> </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-nav-view></ion-nav-view>
  
  <!-- Templates -->
  
  <!--home.htm-->
  <script type = "text/ng-template" id = "home.html">
    <ion-view view-title="MartialManager">
      <ion-content class="myContent">
        <div class="row">
          <div class="col"><a class="button button-full button-outline" ui-sref="studList"><p class>View Students</p></a></div>
        </div>
        <!--<div class="row">
          <div class="col"><a class="button button-full button-outline" ui-sref="edit"><p class>Edit Recipes</p></a></div>
        </div>
        -->
        <div class="row">
          <div class="col"><a class="button button-full button-outline" ui-sref="add"><p class>Add Students</p></a></div>
        </div>
        <!--
        <div class="row">
          <div class="col"><a class="button button-full button-outline" ui-sref="del"><p class>Delete Recipes</p></a></div>
        </div>
        -->
      </ion-content>
    </ion-view>
  </script>
  
  <!--log in -->
  <script type= "text/ng-template" id = "login.html">
    <ion-view title="Sign In">
      <ion-content>
          <div>
              <div class="padding-left padding-top padding-right">
                  <h1>Welcome</h1>
              </div>
          </div>
              <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Username" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
              </div>
            <div class="padding">
                <button ng-click="login(username, password)" class="button button-block button-stable">Sign In</button>
                <button ng-click="register(username, password)" class="button button-block button-dark">Register</button>
                <p>
                    Sign into Martial Manager
                </p>
            </div>
      </ion-content>
    </ion-view>
  </script>
  
  <!--add student-->
  <script type="text/ng-template" id="add.html">
    <ion-view view-title="Add a Student">
      <ion-content>
        <div class="list list-inset" ng-controller="addController">
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="studFirstName">
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="studLastName">
          </label>
          <label class="item item-input item-stacked-label myBorder">
            <span class="input-label">Email</span>
            <input type="text" ng-model="studEmail">
          </label>
          <div class="item button button-block button-positive" ng-model="addButton" ng-disabled="!studFirstName||!studLastName||!studEmail" ng-click="submitStudent()" >
          Add Student
          </div>
        </div>
        
        <!-- Student List -->
        <script type = "text/ng-template" id="studList.html" >
          <ion-view view-title="Choose Student">
            <ion-content>
              <ion-list ng-controller="listController">
                <ion-item ng-repeat="student in students" class="studListing">
                  <a ui-sref="singleStudent({id:student.$id})" nav-direction="enter"><h2>{{student.studentFirstName}} {{student.studentLastName}}</h2></a>
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-view>
        </script>
        
        <!-- show single student -->
        <script type = "text/ng-template" id = "singleStud.html">
          <ion-view view-title="Student">
            <ion-content>
              <div ng-controller="studentController">
                <h4>First Name: {{singleStudent.studentFirstName}}</h4>
                <h4>Last Name: {{singleStudent.studentLastName}}</h4>
                <h4>Email: {{singleStudent.studentEmail}}</h4>
              </div>
            </ion-content>
          </ion-view>
        </script>
        
      </ion-content>
    </ion-view>
  </script>
  
  </body>
</html>
